---
import type { Proyect } from '../utils/interfaces.ts';
interface Props {
	aboutProyect: Proyect;
}
const { aboutProyect } = Astro.props;
---

<section class="text-gray-400 body-font overflow-hidden">
	<div class="container px-5 py-24 mx-auto">
		<div class="flex flex-wrap -m-12">
			<div class="p-12 md:w-1/2 flex flex-col items-start">
				<h2
					class="sm:text-3xl text-2xl title-font font-medium text-white mt-4 mb-4"
				>
					Backend
				</h2>
				<p class="leading-relaxed mb-8">
					{aboutProyect.funcionalityBack}
				</p>
				<div
					class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-800 border-opacity-75 mt-auto w-full"
				>
				</div>
			</div>
			<div class="p-12 md:w-1/2 flex flex-col items-start">
				<h2
					class="sm:text-3xl text-2xl title-font font-medium text-white mt-4 mb-4"
				>
					Frontend
				</h2>
				<p class="leading-relaxed mb-8">
					{aboutProyect.funcionalityFront}
				</p>
				<div
					class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-800 border-opacity-75 mt-auto w-full"
				>
				</div>
			</div>
		</div>
	</div>
</section>
