<section class="pt-12 pb-5 cursor-default" id="experience">
	<h1
		class="text-4xl font-extrabold leading-tight lg:text-6xl cursor-default text-center animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent"
	>
		Experiencia
	</h1>
	<div class="flex flex-col items-center">
		<div
			class="relative flex flex-col items-center rounded-[10px] w-full sm:w-3/4 md:w-2/3 lg:w-1/2 mx-auto p-4 bg-inherit bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none"
		>
			<div
				class="flex items-center justify-between rounded-t-3xl p-3 pt-4 mt-4 w-full"
			>
				<div class="text-lg font-bold text-navy-700 dark:text-white">
					Experiencia relevante
				</div>
				<a
					class="linear rounded-[20px] bg-lightPrimary px-4 py-2 text-base font-medium text-brand-500 transition duration-200 hover:bg-gray-100 active:bg-gray-200 dark:bg-white/5 dark:text-white dark:hover:bg-white/10 dark:active:bg-white/20"
					href="https://www.linkedin.com/in/vcuellojrs/"
					target="_blank"
				>
					Ver más
				</a>
			</div>
			<div
				class="flex h-full w-full items-start justify-between rounded-md border-[1px] border-[transparent] dark:hover:border-[#7456FF] bg-inherit px-3 py-[20px] transition-all duration-150 hover:border-gray-200 dark:!bg-navy-800 dark:hover:!bg-navy-700"
			>
				<div class="flex items-center gap-3">
					<div
						class="flex-shrink-0 h-16 w-16 items-center justify-center sm:h-12 sm:w-12"
					>
						<img
							class="h-full w-full rounded-xl"
							src="https://landing.innevo.cl/favicon.svg"
							alt=""
						/>
					</div>
					<div class="flex flex-col">
						<h5
							class="text-base font-bold text-navy-700 dark:text-white sm:text-lg"
						>
							DevOps & Developer
						</h5>
						<p
							class="mt-1 text-sm font-normal text-gray-300 sm:text-base"
						>
							Diseño e implementación de infraestructura escalable
							en AWS. Automatización de pipelines CI/CD con
							GitLab, gestión de contenedores Docker, monitoreo
							con Grafana, Loki y Promtail, y configuración de
							NGINX como proxy reverso.
						</p>
					</div>
				</div>
				<div
					class="mt-1 sm:flex items-center hidden justify-center text-navy-700 dark:text-white"
				>
					<div
						class="ml-1 flex items-center text-sm font-bold text-navy-700 dark:text-white sm:text-xs"
					>
						<p></p>
						Innevo
					</div>
					<div
						class="ml-2 flex items-center text-sm font-normal text-gray-600 dark:text-white sm:text-xs"
					>
						<p>Mar</p>
						<p class="ml-1">2025</p>
					</div>
				</div>
			</div>
			<div
				class="flex h-full w-full items-start justify-between rounded-md border-[1px] border-[transparent] dark:hover:border-[#7456FF] bg-inherit px-3 py-[20px] transition-all duration-150 hover:border-gray-200 dark:!bg-navy-800 dark:hover:!bg-navy-700"
			>
				<div class="flex items-center gap-3">
					<div
						class="flex-shrink-0 h-16 w-16 items-center justify-center sm:h-12 sm:w-12"
					>
						<img
							class="h-full w-full rounded-xl"
							src="https://igrowker.com/assets/favicon-DAc887nd.png"
							alt=""
						/>
					</div>
					<div class="flex flex-col">
						<h5
							class="text-base font-bold text-navy-700 dark:text-white sm:text-lg"
						>
							DevOps
						</h5>
						<p
							class="mt-1 text-sm font-normal text-gray-300 sm:text-base"
						>
							Responsable de diseñar e implementar infraestructura
							escalable, optimizar CI/CD con GitHub Actions y
							garantizar alta disponibilidad. Creación de entornos
							Dev y Prod, gestión de contenedores Docker,
							monitoreo con Prometheus, Grafana, Loki y más.
							Enfoque en prácticas DevSecOps junto a equipos de
							desarrollo.
						</p>
					</div>
				</div>
				<div
					class="mt-1 sm:flex items-center hidden justify-center text-navy-700 dark:text-white"
				>
					<div
						class="ml-1 flex items-center text-sm font-bold text-navy-700 dark:text-white sm:text-xs"
					>
						<p></p>
						Igrowker
					</div>
					<div
						class="ml-2 flex items-center text-sm font-normal text-gray-600 dark:text-white sm:text-xs"
					>
						<p>Oct</p>
						<p class="ml-1">2024</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
