<div
	class="flex items-center justify-center h-16 pt-5 pb-0 mb-0 mt-5 cursor-default"
>
	<p class="text-white">Hecho con ❤️ por Emanuel</p>
	<a
		href="https://github.com/emacuello"
		target="_blank"
		class="ml-2 text-white hove:text-[#7456FF]">emacuello © 2024</a
	>
	<p class="ml-2 text-white">Portafolio Web hecho en Astro</p>
</div>
