---
import ContentProyectsPreview from './ContentProyectsPreview.astro';
import { contentPreviewYoudrive } from '../utils/contentYoudrive';
import { contentPreviewEmaxPelu } from '../utils/contentEmaxPelu';
import { contentPreviewEmacommerce } from '../utils/contentEmacommerce';
---

<section id="proyects" class="pt-12 pb-12 cursor-default">
	<h1
		class="text-4xl font-extrabold leading-tight lg:text-6xl cursor-default text-center animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent"
	>
		Proyectos
	</h1>
	<div class="container mx-auto p-5">
		<div class="flex flex-wrap -mx-1 sm:-mx-4">
			<!-- Emax Peluqueria v2 👇 -->
			<ContentProyectsPreview
				contentPreview={contentPreviewEmaxPelu}
				moreInfo="/emaxpeluqueria"
			/>
			<!-- You Drive 👇 -->
			<ContentProyectsPreview
				contentPreview={contentPreviewYoudrive}
				moreInfo="/youdrive"
			/>
			<!-- Emacommerce v1 👇 -->
			<ContentProyectsPreview
				contentPreview={contentPreviewEmacommerce}
				moreInfo="/emacommerce"
			/>
		</div>
	</div>
</section>
