<section id="proyects" class="pt-12 pb-12 cursor-default">
	<h1
		class="text-4xl font-extrabold leading-tight lg:text-6xl cursor-default text-center animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent"
	>
		Proyectos
	</h1>
	<div class="container mx-auto p-5">
		<div class="flex flex-wrap -mx-1 sm:-mx-4">
			<div
				class="max-w-sm w-full sm:max-w-full sm:flex pt-5 ml-1 sm:ml-5"
			>
				<div
					class="h-48 sm:h-auto sm:w-48 flex-none bg-cover rounded-t sm:rounded-t-none sm:rounded-l text-center overflow-hidden"
					style="background-image: url('https://res.cloudinary.com/dxrjz4ycj/image/upload/f_auto,q_auto/vfzsbxdzekykpeawi6cx')"
					title="Screenshot de YouDrive"
				>
				</div>
				<div
					class="bg-[#131313] rounded-b sm:rounded-b-none sm:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-[#c7d2fe] flex items-center">
							<svg
								width="0.75rem"
								height="0.75rem"
								viewBox="0 0 41 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								class="fill-current mr-2"
							>
								<path
									d="M30.126 0H21.62v24h8.506V0ZM16.41 0H7.871v24h8.537V0Z"
									fill="#fff"></path>
								<path
									d="M7.69 14.603v7.005c7.323-3.661 28.941-10.337 31.51-10.294.892 0-1.28-1.593-2.178-1.593-1.3 0-16.116 1.154-29.15 4.882"
									fill="#FFE84D"></path>
								<path
									d="M34.167 8.714c.006.068.194-.048.567.244.177.14.312.326.39.537a.938.938 0 0 0-.366.61 1.688 1.688 0 0 0 0 .262c0 .178-.042.47 0 .61.043.141.043.27.043.385v.068a.086.086 0 0 1 0 .042c.015.389.22.745.55.952a1.22 1.22 0 0 1-.312.61c-.33.323-.525.323-.525.323s.988.684 1.568-.115c.142-.208.251-.436.324-.677h.274a7.52 7.52 0 0 0 3.295-.928c.188-.114.342-.276.446-.47.04-.075.07-.155.091-.239.024-.111.03-.227.019-.341a1.13 1.13 0 0 0-.714-.983 7.557 7.557 0 0 0-3.387-.451l-.293.03a2.31 2.31 0 0 0-.403-.58.914.914 0 0 0-.676-.301c-.481 0-.897.365-.892.411"
									fill="#fff"></path>
							</svg>
							Bootcamp Henry
						</p>
						<div class="text-white font-bold text-xl mb-2">
							You Drive 
						</div>
						<p class="text-[#F5F2FF] text-base">
							Aplicaci贸n de renta de autos persona a persona, fue
							creada como proyecto final de Henry. Trabajo
							colaborativo entre 7 personas, del cual form茅 parte
							del equipo de back-end. Aplicacion creada usando los
							frameworks de NestJs y NextJs, backend desplegado en
							AWS EC2, frontend en Vercel y con base de datos de
							PostgreSQL alojada en Railway.
							<a
								href="/youdrive"
								class="text-[#7456FF] font-semibold"
							>
								Quiero saber m谩s</a
							>
						</p>
					</div>
					<div class="flex items-center">
						<a
							href="https://github.com/maccari78/PM6-grupo3"
							target="_blank"
						>
							<img
								class="w-10 h-10 rounded-full mr-4"
								src="https://res.cloudinary.com/dxrjz4ycj/image/upload/f_auto,q_auto/rqeks41kvzw0elvunpen"
								alt="Logo YouDrive"
							/>
						</a>
						<div class="text-sm">
							<p class="text-white leading-none">Grupo 3 Henry</p>
							<p class="text-[#E0DAFF">Junio 2024</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="max-w-sm w-full sm:max-w-full sm:flex pt-5 ml-1 sm:ml-5"
			>
				<div
					class="h-48 sm:h-auto sm:w-48 flex-none bg-cover rounded-t sm:rounded-t-none sm:rounded-l text-center overflow-hidden"
					style="background-image: url('https://res.cloudinary.com/dxrjz4ycj/image/upload/f_auto,q_auto/olvpx1zqrseuay686uu3')"
					title="Screenshot de la documentacio de Emacommerce"
				>
				</div>
				<div
					class="bg-[#131313] rounded-b sm:rounded-b-none sm:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-[#c7d2fe] flex items-center">
							<svg
								width="0.75rem"
								height="0.75rem"
								viewBox="0 0 41 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								class="fill-current mr-2"
							>
								<path
									d="M30.126 0H21.62v24h8.506V0ZM16.41 0H7.871v24h8.537V0Z"
									fill="#fff"></path>
								<path
									d="M7.69 14.603v7.005c7.323-3.661 28.941-10.337 31.51-10.294.892 0-1.28-1.593-2.178-1.593-1.3 0-16.116 1.154-29.15 4.882"
									fill="#FFE84D"></path>
								<path
									d="M34.167 8.714c.006.068.194-.048.567.244.177.14.312.326.39.537a.938.938 0 0 0-.366.61 1.688 1.688 0 0 0 0 .262c0 .178-.042.47 0 .61.043.141.043.27.043.385v.068a.086.086 0 0 1 0 .042c.015.389.22.745.55.952a1.22 1.22 0 0 1-.312.61c-.33.323-.525.323-.525.323s.988.684 1.568-.115c.142-.208.251-.436.324-.677h.274a7.52 7.52 0 0 0 3.295-.928c.188-.114.342-.276.446-.47.04-.075.07-.155.091-.239.024-.111.03-.227.019-.341a1.13 1.13 0 0 0-.714-.983 7.557 7.557 0 0 0-3.387-.451l-.293.03a2.31 2.31 0 0 0-.403-.58.914.914 0 0 0-.676-.301c-.481 0-.897.365-.892.411"
									fill="#fff"></path>
							</svg>
							Bootcamp Henry
						</p>
						<div class="text-white font-bold text-xl mb-2">
							Emacommerce 
						</div>
						<p class="text-[#F5F2FF] text-base">
							Rest API ecommerce de productos electr贸nicos,
							aplicaci贸n backend creada en NestJs usando
							tecnolog铆as como TypeScript, Docker, Cloudinary,
							PostgreSQL, Bcrypt y Swagger para la documentaci贸n,
							desplegado en Railway haciendo uso de Github
							Actions.
							<a
								href="/emacommerce"
								class="text-[#7456FF] font-semibold"
							>
								Quiero saber M谩s</a
							>
						</p>
					</div>
					<div class="flex items-center">
						<a href="https://github.com/emacuello" target="_blank">
							<img
								class="w-10 h-10 rounded-full mr-4"
								src="https://avatars.githubusercontent.com/u/84103575?v=4"
								alt="Logo Emacuello en Github"
							/>
						</a>
						<div class="text-sm">
							<p class="text-white leading-none">Emacuello</p>
							<p class="text-[#E0DAFF">Mayo 2024</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="max-w-sm w-full sm:max-w-full sm:flex pt-5 ml-1 sm:ml-5"
			>
				<div
					class="h-48 sm:h-auto sm:w-48 flex-none bg-cover rounded-t sm:rounded-t-none sm:rounded-l text-center overflow-hidden"
					style="background-image: url('https://res.cloudinary.com/dxrjz4ycj/image/upload/f_auto,q_auto/kybczcszg6hnowcfkpay')"
					title="Screenshot de EmaxPeluqueria"
				>
				</div>
				<div
					class="bg-[#131313] rounded-b sm:rounded-b-none sm:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-[#c7d2fe] flex items-center">
							<svg
								width="0.75rem"
								height="0.75rem"
								viewBox="0 0 41 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								class="fill-current mr-2"
							>
								<path
									d="M30.126 0H21.62v24h8.506V0ZM16.41 0H7.871v24h8.537V0Z"
									fill="#fff"></path>
								<path
									d="M7.69 14.603v7.005c7.323-3.661 28.941-10.337 31.51-10.294.892 0-1.28-1.593-2.178-1.593-1.3 0-16.116 1.154-29.15 4.882"
									fill="#FFE84D"></path>
								<path
									d="M34.167 8.714c.006.068.194-.048.567.244.177.14.312.326.39.537a.938.938 0 0 0-.366.61 1.688 1.688 0 0 0 0 .262c0 .178-.042.47 0 .61.043.141.043.27.043.385v.068a.086.086 0 0 1 0 .042c.015.389.22.745.55.952a1.22 1.22 0 0 1-.312.61c-.33.323-.525.323-.525.323s.988.684 1.568-.115c.142-.208.251-.436.324-.677h.274a7.52 7.52 0 0 0 3.295-.928c.188-.114.342-.276.446-.47.04-.075.07-.155.091-.239.024-.111.03-.227.019-.341a1.13 1.13 0 0 0-.714-.983 7.557 7.557 0 0 0-3.387-.451l-.293.03a2.31 2.31 0 0 0-.403-.58.914.914 0 0 0-.676-.301c-.481 0-.897.365-.892.411"
									fill="#fff"></path>
							</svg>
							Bootcamp Henry
						</p>
						<div class="text-white font-bold text-xl mb-2">
							EmaxPeluqueria 锔
						</div>
						<p class="text-[#F5F2FF] text-base">
							Aplicaci贸n de turnos para peluquer铆a. Creada usando
							Express y TypeScript en el backend y React/Vite con
							Javascript en el frontend. Desde el back hace uso
							PostgreSQL con TypeOrm para la base datos, JWT para
							la autenticaci贸n y Bcrypt para la seguridad de las
							contrase帽as, por parte del front-end hace uso de
							React-Bootstrap para los componentes y estilos,
							Redux para el estado global y React-router-dom para
							el enrutado. Aplicaci贸n backend y frontend
							desplegada en Vercel y con base de datos alojada en
							Railway.
							<a
								href="/youdrive"
								class="text-[#7456FF] font-semibold"
							>
								Quiero saber m谩s</a
							>
						</p>
					</div>
					<div class="flex items-center">
						<a href="https://github.com/emacuello" target="_blank">
							<img
								class="w-10 h-10 rounded-full mr-4"
								src="https://avatars.githubusercontent.com/u/84103575?v=4"
								alt="Logo Emacuello en Github"
							/>
						</a>
						<div class="text-sm">
							<p class="text-white leading-none">Emacuello</p>
							<p class="text-[#E0DAFF">Abril 2024</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
